:root {
  --margen-bottom: 35px;
  --header-height: 80px;
  --footer-height: 70px;
}

.actions-container {
  margin-bottom: var(--margen-bottom);
}

.action:last-child {
  text-align: center;
}

.action {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 300;
  height: 200;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0 0 0 0 #7952b3;
  filter: grayscale(100%);
  position: relative;
  transition: filter 0.6s, box-shadow 0.6s;
}
.card > img {
  width: 300px;
  height: 200px;
}

.card:hover {
  box-shadow: 0 0 0 2px #7952b3;
  filter: none;
}

.main-container {
  margin: 0 110px;
}

.form-login {
  width: 100%;
  margin: 0 110px;
}

.login-container {
  display: flex;
  height: calc(100vh - 150px);
  margin: 0 -110px;
}

.submit-button {
  border-radius: 15px;
  width: 100%;
  background-color: #7952b3 !important;
  border-color: #7952b3 !important;
}

.form-container {
  flex: 1;
  justify-content: center;
  display: flex;
  align-items: center;
}

.image-container {
  flex: 1;
}

.image-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav-link {
  color: white !important;
  margin: 0 25px;
}

.navbar {
  background-color: #7952b3;
  height: 80px;
}

.navbar-nav {
  font-size: 15px;
}

.navbar-brand {
  align-items: center;
  color: white !important;
  display: flex;
}

.navbar-brand > img {
  width: 80px;
  height: 65px;
  margin-right: 5px;
}

.flex-center {
  justify-content: space-between;
}

.footer {
  color: white;
  align-items: center;
  background-color: #7952b3;
  bottom: 0;
  display: flex;
  height: 70px;
  left: 0;
  right: 0;
  width: 100%;
}

.section {
  margin-bottom: var(--margen-bottom);
}

#sign-in {
  background-color: #7952b3;
  border-color: #7952b3;
}
