:root {
  --margen-bottom: 35px;
  --header-height: 80px;
  --footer-height: 70px;
}

.actions-container {
  margin-bottom: var(--margen-bottom);
}

.tipos-eleccion-container {
  justify-content: space-evenly;
  margin-top: 50px;
  width: 100%;
}

.avatar-persona {
  position: absolute;
  right: 170px;
  bottom: 62px;
}

.action:last-child {
  text-align: center;
}

.fotoMascota {
  display: none;
  max-width: 100%;
  width: auto;
  height: auto;
}

.action {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mascota-card {
  width: 350px;
  height: 400px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  margin: 30px 20px;
}

.mascota-card > img {
  width: 350px;
  height: 70%;
}

.index-card {
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0 0 0 0 #7952b3;
  filter: grayscale(100%);
  position: relative;
  transition: filter 0.6s, box-shadow 0.6s;
}

.index-card > img {
  width: 300px;
  height: 200px;
}

.agregar-pregunta {
  text-align: center;
}

.asociacion {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid #7952b3 !important;
}

.asociacion:hover {
  color: white !important;
  font-weight: 800px !important;
  background-color: #7952b3 !important;
  border: 1px solid white !important;
  transition: background-color 0.6s;
}

.asociacion.active {
  background-color: #7952b3 !important;
  font-weight: 700px !important;
  border: 1px solid white !important;
}

.asociaciones-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.admin-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25 rem;
  width: 100%;
  height: auto;
}

.admin-card-dropdown {
  position: relative;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25 rem;
  width: 100%;
  height: 60;
}

.pregunta-asociacion {
  padding: 0.4em 0;
}

.agregar-pregunta {
  text-align: center;
}

.titulo-preguntas {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.index-card:hover {
  box-shadow: 0 0 0 2px #7952b3;
  filter: none;
}

.main-container {
  min-height: calc(100vh - 150px);
  margin: 0 110px;
}

.form-login {
  width: 75%;
  margin: 0 110px;
}

.foto-bienvenida {
  background-image: url("https://fondosmil.com/fondo/22182.jpg");
  display: flex;
  flex: 1;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
}

.foto-bienvenida-sign-in {
  background-image: url("http://st.gde-fon.com/wallpapers_original/422625_koshka_sobaka_kotenok_shhenok_trava_fon_5269x3500_www.Gde-Fon.com.jpg");
  display: flex;
  flex: 1;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
}

.login-container {
  display: flex;
  height: calc(100vh - 150px);
  margin: 0 -110px;
}

.logo-login {
  width: 120px;
  height: 120px;
}

.mensaje-bienvenida {
  display: flex;
  justify-content: center;
  flex: 1;
  align-items: center;
  color: white;
  font-size: xx-large;
  font-weight: 600;
  margin: 0 70px;
  text-align: center;
}

.submit-button {
  border-radius: 50px;
  width: 200px;
  margin-top: 30px;
  background-color: #7952b3 !important;
  border-color: #7952b3 !important;
}

.visibility-none {
  visibility: hidden;
}

.center-space-evenly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.image-error-container {
  height: 500px;
}

.error-button-container {
  display: flex;
  justify-content: center;
}

.submit-button-error {
  border-radius: 50px;
  width: 200px;
  margin-top: 10px;
  background-color: #7952b3 !important;
  border-color: #7952b3 !important;
}

.btn-agregar-preguntas {
  background-color: #7952b3 !important;
  border-color: #7952b3 !important;
}

.form-container {
  flex: 1;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.pregunta-caracteristica {
  margin: 10px 0;
  font-weight: 600;
}

.boton-registrar-mascota {
  margin-bottom: 20px;
}

.mensaje-error {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.error-container {
  height: calc(100vh - 150px);
  padding: 50px;
}

.form-container-sign-up {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.registracion-mascota {
  height: calc(100vh - 150px);
  margin: 0 -110px;
}

.margin-top {
  margin-top: 20px;
}

.caracteristicas {
  margin-top: 0px;
}

.caracteristica {
  width: 100%;
  border: 1px solid #7952b3;
}

.usuario-nombre {
  margin: 0 4px;
}

.form-container-registracion-mascota {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.image-container {
  flex: 1;
}

.image-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav-link {
  color: white !important;
  margin: 0 25px;
}

.navbar {
  background-color: #7952b3;
  height: 80px;
}

.navbar-nav {
  font-size: 15px;
  width: 100%;
  justify-content: center;
}

.navbar-brand {
  align-items: center;
  color: white !important;
  display: flex;
}

.navbar-brand > img {
  width: 80px;
  height: 65px;
  margin-right: 5px;
}

.separator-nav-link {
  margin-right: 200px;
}

#navbarNavAltMarkup {
  justify-content: space-evenly;
}

.flex-center {
  justify-content: space-between;
}

.footer {
  color: white;
  align-items: center;
  background-color: #7952b3;
  bottom: 0;
  display: flex;
  height: 70px;
  left: 0;
  right: 0;
  width: 100%;
}

.section {
  margin-bottom: var(--margen-bottom);
}

.titulo-caracteristicas {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
}

.agregar-pregunta {
  text-align: center;
}

.titulo-preguntas {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.preguntas-dropdown {
  row-gap: 1em;
  border: 1px solid #7952b3;
}

.preguntas-container {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

.sign-in {
  background-color: #7952b3;
  border-color: #7952b3;
  display: flex !important;
  align-items: center !important;
  position: absolute !important;
}

.encontre-mascota-container {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.encontre-mascota {
  margin: 10px 0;
  font-weight: 600;
}
