{{# partial "titulo" }}
    <title>Patitas - Encontre una Mascota con chapita</title>
{{/partial}}

{{# partial "contenido" }}
    <section class="fondo-gris">
         <section class="fondo-gris">
             <h2>Para avisarnos sobre la mascota rescatada, por favor primero completa tus datos personales.n</h2>

             <form class="encontre-mascota" action="/encontre-mascota/lugar-encuentro/tipo-encuentro/con-chapita"
             method="GET">
                 <div class="campo">
                     <span class="nombre-campo">Ingrese el codigo de la chapita:</span><input
                     type="number" name="codigo-chapita"
                     placeholder="Ingrese el codigo de la chapita">
                 </div>
                 <input type="submit" value="Buscar">
             </form>
             <form action="/encontre-mascota/lugar-encuentro/tipo-encuentro/con-chapita" method="POST">
                 <button name="enviar" value="Enviar">Enviar</button>
      </form>
    </section>
{{/partial}}

{{> layout.html.hbs }}
