{{# partial "titulo" }}
<title>Patitas - Encontre una Mascota con chapita</title>
{{/partial}}

{{# partial "contenido" }}
<div class="encontre-mascota-container">
    <h1>Encontre una mascota con chapita</h1>
    <form class="form-login" action="/mascotas/encontre-mascota/con-chapita" method="POST">
        <div class="row g-3">
            <div class="col">
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Ubicacion:</span><input type="text"
                        required="required" name="ubicacion-rescatista" placeholder="Ingrese su ubicacion">
                </div>
            </div>
        </div>
        <div class="row g-3">
            <div class="col">
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Ubicacion rescate:</span><input type="text"
                        required="required" name="ubicacion-rescate" placeholder="Ingrese la ubicacion del rescate">
                </div>
            </div>
        </div>
        <div class="row g-3">
            <div class="col">
                <div class="input-group date input-group-sm mb-3" id="datepicker">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Fecha Rescate</span>
                    <input type="text" required name="fecha-rescate" class="form-control">
                    <span class="input-group-append">
                        <span class="input-group-text bg-white d-block">
                            <i class="fa fa-calendar"></i>
                        </span>
                    </span>
                </div>
            </div>
        </div>
        <div class="row g-3">
            <div class="col">
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Descripcion estado mascota:</span><input
                        type="text" required="required" name="estado-mascota"
                        placeholder="Ingrese el estado de la mascota">
                </div>
            </div>
        </div>
        <div class="row g-3">
            <div class="col">
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Adjuntar fotos:</span><input type="file"
                        id="img" name="img" accept="image/*" required="required" multiple name="fotos"
                        placeholder="Adjunte las fotos de la mascota">
                </div>
            </div>
            <div class="row g-3">
                <div class="col">

                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Ingrese el codigo de la
                            chapita:</span><input type="number" required="required" name="codigo-chapita" value=""
                            min="1" placeholder="Ingrese el codigo de la chapita">
                    </div>
                </div>
            </div>
            <div class="row g-3 justify-content-center">
                <div class="col">
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary
                               submit-button">Enviar</button>
                    </div>
                </div>
            </div>
    </form>
</div>
<script type="text/javascript">
    $(function () {
        $('#datepicker').datepicker();
    });
</script>
{{/partial}}

{{> layout.html.hbs }}