{{# partial "titulo" }}
{{/partial}}


{{# partial "contenido" }}
    <div class="d-flex justify-content-around actions-container mt-4">
        <a href="/mascotas/encontre-mascota">
            <div class="card bg-dark text-white" type="button">
                <img src="/images/encontre-a-mi-mascota.jpg" class="card-img" alt="boton"/>
                <div class="card-img-overlay action">
                    <h3 class="card-title">Encontre a una mascota</h3>
                </div>
            </div>
        </a>
        <a href="/registracion-mascota">
            <div class="card bg-dark text-white">
                <img src="/images/dog.jpg" class="card-img" alt="boton"/>
                <div class="card-img-overlay action">
                    <h3 class="card-title">Registrar a mi mascota</h3>
                </div>
            </div>
        </a>
        <div class="card bg-dark text-white" type="button">
            <img src="/images/suscripcion-mascotas.jpg" class="card-img" alt="boton"/>
            <div class="card-img-overlay action">
                <h3 class="card-title">
                    Suscribirme a recomendaciones de adopción
                </h3>
            </div>
        </div>
    </div>
    <div>
        <div class="section">
            <h3 class="title">CANTIDAD DE ADOPCIONES</h3>
            <div>
                <p>
                    A lo largo de más de veinte años de funcionamiento, nos
                    enorgullece haber encontrado hogar a 15.300 perros y a 2.298
                    gatos, incluyendo tanto a adultos como cachorros. El promedio de
                    adopciones es de 50 perros y de 15 gatos por mes.
                </p>
            </div>
        </div>
        <div class="section">
            <h3 class="title">NUESTRA HISTORIA</h3>
            <div>
                <p>
                    Mascotas en adopción se formó con el fin de poder rescatar,
                    rehabilitar y luego dar en adopción aquellos perros, gatos
                    abandonados o maltratados en la zona de Del Viso, Partido de
                    Pilar. NO TENEMOS UN LUGAR FÍSICO PROPIO Utilizamos distintos
                    pensionados que se abonan por día hasta que se adopta el animal.
                    Tenemos en este momento más de 80 animales adultos y cachorros
                    (entre perros y gatos) que esperan encontrar un hogar donde se los
                    trate con respeto y responsabilidad.
                </p>
            </div>
        </div>

        <div class="section">
            <h3 class="title">FORMA DE TRABAJO</h3>
            <p>
                Para llevar a cabo esta tarea, hay una serie de pasos que seguir:
            </p>
            <ol class="list-group list-group-numbered">
                <li class="list-group-item">
                    <b>Rescate y recuperación</b>
                    <p>
                        Se trata de hacer todo lo posible para dar asilo a la mayor
                        cantidad de animales posible, por un tema de espacio y de
                        presupuesto, no siempre es factible. Una vez que el animal es
                        rescatado, se le realiza un control veterinario para conocer en
                        qué estado se encuentra, se vacuna y desparasita. Paso seguido,
                        se fija fecha para su castración.
                    </p>
                </li>
                <li class="list-group-item">
                    <b>Difusión</b>
                    <p>
                        Una vez efectuada la castración, se observa su temperamento,
                        comportamiento e interacción con otros animales y humanos. Luego
                        de un minucioso diagnóstico se determina cuál sería su función
                        en un hogar adoptivo: la de animal de compañía, guardia o alerta
                        y qué tipo de ambiente sería ideal para el mismo: una casa,
                        departamento, o un campo. Asimismo, se evalúa cual sería su
                        adoptante correcto: una familia con niños o solo de adultos.
                    </p>
                </li>
                <li class="list-group-item">
                    <b>Puesta en adopción</b>
                    <p>
                        Luego de haber sido evaluado su temperamento, se publican fotos
                        en diferentes medios de comunicación; como internet en redes
                        sociales, sitios dedicados al ofrecimiento de mascotas para
                        adopción y anuncios en los diarios.
                    </p>
                </li>
                <li class="list-group-item">
                    <b>Entrevistas</b>
                    <p>
                        Se entrevista a los posibles candidatos para cada adopción. Para
                        poder adoptar es necesario ser mayor de edad, tener el
                        consentimiento de todos los integrantes de la familia y
                        acreditar su identidad mediante la presentación del documento de
                        identidad. También se exige la copia de cualquier servicio a
                        nombre del adoptante para poder cotejar la veracidad del
                        domicilio.
                    </p>
                </li>
                <li class="list-group-item">
                    <b>Seguimientos</b>
                    <p>
                        Cada animal se entrega en adopción con una chapa identificadora
                        que tiene números de contacto del grupo y un número que
                        corresponde al animal adoptado. Una vez que se efectuó la
                        adopción, se vuelca esa información a una base de datos, que
                        permite tener acceso a la información para llevar a cabo los
                        seguimientos. Se realizan varios llamados a lo largo del tiempo
                        para ver cómo se adaptó a su nuevo hogar. Muchos adoptantes
                        generan un vínculo con Mascotas en adopción a traves de los
                        años.
                    </p>
                </li>
            </ol>
        </div>

        <div class="section">
            <h3 class="title">CONDICIONES DE ENTREGA DE LOS ANIMALES</h3>
            <div>
                Todos los animales se entregan vacunados y desparasitados con
                certificado avalado por un veterinario y, si son adultos
                esterilizados. También se entregan con collar, chapita
                identificatoria y correa. No pedimos ningún tipo de remuneración por
                cada animal que entregamos en adopción.
            </div>
        </div>
    </div>
{{/partial}}

{{> layout.html.hbs }}