<html>

<head>
  <link rel="stylesheet" type="text/css" href="/main.css">
  {{# block "titulo" }}
  {{/block}}
</head>

<body>
  <nav>
    <a href="/">Home</a>
  </nav>
  <main>
    <h1>Patitas</h1>
    {{# block "contenido" }}
    {{/block}}
  </main>
  <footer class="fondo-gris">
    Copyright Patitas 2021
  </footer>
</body>

</html>