{{#partial "contenido" }}
<div class="login-container">
    <div class="form-container">
        <div> <img src="images/patitas-logo.jpg" alt="patitas-logo" width="30" height="24"
                class="d-inline-block align-text-top logo-login" />
        </div>
        <form class="form-login" action="{{rutaLogin}}" method="POST">
            <div class="row g-3">
                <div class="col">
                    <div class="form-floating mb-5">
                        <input type="text" name="username" class="form-control" id="floatingInput"
                            placeholder="usuario12345">
                        <label for="floatingInput">Usuario</label>
                    </div>
                </div>
            </div>
            <div class="row g-3">
                <div class="col">
                    <div class="form-floating mb-5">
                        <input type="password" name="password" class="form-control" id="floatingPassword"
                            placeholder="Password">
                        <label for="floatingPassword">Password</label>
                    </div>
                </div>
            </div>
            <div class="row g-3 justify-content-center">
                <div class="col">
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary submit-button">Ingresar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="foto-bienvenida-sign-in">
        <div class="mensaje-bienvenida">
            <div>
                Bienvenido de vuelta!
            </div>
        </div>
    </div>
</div>
{{/partial}}

{{> layout.html.hbs }}