{{#partial "contenido" }}
<div class="d-flex flex-column align-items-center pt-3">
    {{#if mascotasUsuario}}
    {{#each mascotasUsuario}}
    <div class="card" style="width: 18rem;">
        <img src="{{fotos.[0].link}}" class="card-img-top" alt="mascota">
        <div class="card-body">
            <h5 class="card-title">{{nombre}}</h5>
            <a href="#" class="btn btn-primary submit-button-error">Ver QR de chapita</a>
        </div>
    </div>
    {{/each}}
    {{else}}
    <div>
        <p> Todavia no tenes mascotas registradas en nuestro sitio, para registrar una hace <a href="/mascotas/registracion-mascota" class="btn btn-primary">click acá</a>.
            O anda a Home y selecciona la opción registrar mascota. </p>
    </div>
    {{/if}}
</div>
{{/partial}}

{{> layout.html.hbs}}