{{# partial "titulo" }}
	<title>Patitas - Caracteristicas</title>
{{/partial}}

{{# partial "contenido" }}
<div class="caracteristicas">
	<h1>Nueva Caracteristica</h1>
</div>
	<form class="row g-3" action="/caracteristicas" method="POST">
		<div>
			<label for="nombreCaracteristica" class="form-label">Nombre Característica</label>
			<input type="text" class="form-control" name="nombreCaracteristica" id="nombreCaracteristica" required>
		</div>
    {{#cantidadCaracteristicas}}
		<div>
			<label for="ValoresCaracteristica{{this}}" class="form-label">Valores Caracteristica</label>
			<input type="text" class="form-control" name="ValoresCaracteristica{{this}}" id="ValoresCaracteristica{{this}}">
		</div>
	{{/cantidadCaracteristicas}}
		<div>
			<input class="btn btn-primary" type="submit" value="Agregar pregunta"/>
		</div>
	</form>
{{/partial}}

{{> layout.html.hbs}}
