{{# partial "titulo" }}
	<title>Patitas - Preguntas de Asociaciones</title>
{{/partial}}

{{# partial "contenido" }}
	<div class="titulo-preguntas">
		<h1>Preguntas de Asociaciones</h1>
		
	</div>
{{/partial}}

{{> layout.html.hbs}}
