{{# partial "titulo" }}
	<title>Patitas - Preguntas de Asociaciones</title>
{{/partial}}

{{# partial "contenido" }}
	<h1>Nueva Pregunta</h1>
	
	<form class="row g-3" action="/matchear-preguntas">
		<div>
			<label for="asociacionId" class="form-label">Asociación</label>
			<select class="form-select" name="asociacionId" id="asociacionId" required>
				<option selected disabled value="">Asociación...</option>
				{{#asociaciones}}
					<option value="{{id}}">{{nombre}} [ID {{id}}]</option>
				{{/asociaciones}}
			</select>
		</div>
		<div>
			<label for="preguntaDador" class="form-label">Pregunta para el dador</label>
			<input type="text" class="form-control" name="preguntaDador" id="preguntaDador" required>
		</div>
		<div>
			<label for="preguntaAdoptante" class="form-label">Pregunta para el adoptante</label>
			<input type="text" class="form-control" name="preguntaAdoptante" id="preguntaAdoptante" required>
		</div>
		<div>
			<label for="cantidadMatcheos" class="form-label">Cantidad de matcheos</label>
			<input type="number" class="form-control" name="cantidadMatcheos" id="cantidadRespuestasPosibles" min="1" oninput="validity.valid||(value='');" required>
		</div>
		<div class="form-check">
			<input class="form-check-input" type="checkbox" id="esObligatoria" name="esObligatoria" checked>
			<label class="form-check-label" for="esObligatoria">
				Default checkbox
			</label>
		</div>
		<div>
			<input class="btn btn-primary" type="submit" value="Agregar pregunta"/>
		</div>
	</form>
{{/partial}}

{{> layout.html.hbs}}
