{{# partial "titulo" }}
<title>Patitas - Caracteristicas</title>
{{/partial}}

{{# partial "contenido" }}
<div class="d-flex flex-column align-items-center pt-3 centrando-cosas">
	<div class="caracteristicas">
		<h1>Nueva Caracteristica</h1>
	</div>
	<form class="row g-3" action="/caracteristicas" method="POST">
		<div>
			<label for="nombreCaracteristica" class="form-label">Nombre Característica</label>
			<input type="text" class="form-control" name="nombreCaracteristica" id="nombreCaracteristica" required>
		</div>
		{{#cantidadCaracteristicas}}
		<div>
			<label for="ValoresCaracteristica{{this}}" class="form-label"> Opción {{this}} </label>
			<input type="text" class="form-control" name="ValoresCaracteristica{{this}}"
				id="ValoresCaracteristica{{this}}">
		</div>
		{{/cantidadCaracteristicas}}
		<div class="d-flex justify-content-around align-items-center">
			<div class="center-space-evenly">
				<button type="submit" class="btn btn-primary submit-button-error" onclick="volverAtras()">Volver
					atras</button>
			</div>
			<div>
            	<input class="btn btn-primary submit-button-error" type="submit" value="Agregar" />
            </div>
		</div>
	</form>
</div>
<script>
	function volverAtras() {
		window.history.back()
	}
</script>

{{/partial}}

{{> layout.html.hbs}}